body{
	background-color: lightgrey;
}
.jumbotron{
	height:50%;
	width: 100%;
	text-align: center;
	max-width: 100%;
	margin-top: -10%;
	background-color: white;
	position: static;
	
}

.fa-location-arrow{
	color: lightgreen;
	height: 5%;
}


.mainLogo{
	margin-top: -5%;
	margin-left: 15%;
	position: static;
}

.container{
	text-align: center;
}
form{
	position: relative;
}

#mapApi{
	height: 400px;
	width: 500px;
}